<div class="land" *ngIf="bigbar">
  <div class="links"><a href="Aide">AIDE</a><a href="">ENGLISH</a></div>
  <div class="writting">
    <div class="text">
      <img src=".\assets\imgs\painting-the-patient-journey.png" alt="" />
      <h1>
        Le diabète de type 2, le rôle de l'insuline et les implications de
        l'intervalle de temps
      </h1>
      <p>
        Ce programme est destiné aux médecins de soins primaires qui traitent
        des patients atteints de diabète de type 2. Il y sera question de la
        manière d’optimiser le contrôle glycémique à l’aide de l’insuline basale
        et du moment où il convient d’intensifier le traitement.
      </p>
      <div class="buttons">
        <button class="log" (click)="Register()">S’ENREGISTRER</button>
        <button class="log" (click)="checkLogin()">CONNEXION</button>
      </div>
    </div>
    <img src=".\assets\imgs\painter.png" alt="" class="circle" />
  </div>
</div>

<div *ngIf="smallbar">
  <div class="smalltop">
    <div class="left">
      <img src=".\assets\imgs\painter.png" alt="" />
      <div>
        <h1>Peindre le parcours du patient</h1>
        <h2>
          Le diabète de type 2, le rôle de l'insuline et<br />
          les implications de l'intervalle de temps
        </h2>
      </div>
    </div>
    <div class="links"><a href="Aide">AIDE</a><a href="">ENGLISH</a></div>
  </div>
  <div class="directories" *ngIf="isLoggedIn == 'true'" >
    <mat-icon (click)="toggleMenu()" id="mat">reorder</mat-icon>
    <div class="directories" id="rect" *ngIf="menu" [@slideAnimation]>
      <a href="Accueil" id="HOME">ACCUEIL</a
      ><a
        style="cursor: pointer"
        (click)="togglePatientMenu()"
        id="PATIENT_CASES"
        >CAS</a
      ><a href="Evaluation" id="EVALUATION">ÉVALUATION</a
      ><a href="Certificat" id="CERTIFICATE">CERTIFICAT</a>
    </div>
  </div>

  <div class="patient directories" *ngIf="patient" [@slideAnimation]>
    <a
      *ngFor="let PCase of cases; let i = index"
      href="{{ PCase.href }}"
      id="{{ PCase.id }}"
      ><div class="image">
        <img src="{{ PCase.img }}" alt="" />
        <ngb-progressbar
          type="primary"
          [value]="25 + 75 * (Percentage[i] / 100)"
          >{{ Percentage[i] }}%</ngb-progressbar
        >
      </div>
      <div>
        <h1>{{ PCase.h1 }}</h1>
        <p>{{ PCase.p }}</p>
      </div></a
    >
  </div>
</div>

<ng-template #loginTemplate>
  <form class="casslescoui..." [formGroup]="registerForm" #loginForm="ngForm">
    <div mat-dialog-content id="dialogContent">
      <mat-form-field>
        <mat-label>Saisissez votre adresse e-mail</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          [(ngModel)]="user.email"
          name="email"
          required
        />
        <mat-icon
          matSuffix
          *ngIf="
            (registerForm.controls.email.hasError('email') ||
              registerForm.controls.email.hasError('required')) &&
            registerForm.controls.email.touched
          "
          >error_outline</mat-icon
        >
        <mat-error
          *ngIf="
            registerForm.controls.email.hasError('email') &&
            !registerForm.controls.email.hasError('required')
          "
        >
          Veuillez saisir une adresse e-mail valide
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">
          L'adresse électronique est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field id="spacetop">
        <mat-label>Entrez votre mot de passe</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          [(ngModel)]="user.password"
          name="password"
        />
        <mat-icon
          matSuffix
          *ngIf="
            registerForm.controls.password.hasError('required') &&
            registerForm.controls.password.touched
          "
          >error_outline</mat-icon
        >
        <mat-error *ngIf="registerForm.controls.password.hasError('required')"
          >Saisir un mot de passe</mat-error
        >
        <!-- <div style="color: red;" *ngIf="submitted && !registerForm.controls.email.errors && !registerForm.controls.password.errors">Invalid email or password</div> -->
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div mat-dialog-actions id="action">
      <button mat-button (click)="forgotPass()">Mot de passe oublié ?</button>

      <button mat-button id="login" (click)="onSubmit()">Connexion</button>
      <button mat-button mat-dialog-close>Fermez</button>
    </div>
  </form>
</ng-template>
