.foot {
  display: flex;
  //max-height: 200px;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 6%;
  padding-right: 6%;
  justify-content: space-between;
  align-items: center;

  #blue {
    width: 41%;
    padding-left: 10%;
  }
}
.foot img {
  width: 19%;
}

@media only screen and (max-width: 637px) {
  .foot {
    flex-flow: column;
    #blue {
      width: 100%;
    }
  }
  .foot img {
    width: 100%;
  }
}
