<div class="foot" id="foot">
  <p>
    <b>Crédits attribués aux médecins spécialistes :</b>
    <br />
    Ce programme d’apprentissage en groupe, d’un crédit par heure, répond aux critères de certification du Collège des médecins de famille du Canada et a reçu la certification finale pour un maximum de 2 crédits Mainpro+®.
    <br><br>
    <b>Crédits attribués aux professionnels de la santé :</b>
    <br>
    Il s'agit d'une activité de développement professionnel qui reconnait jusqu'à 2 heures de formation continue.
    <br>
    <br />
    Ce programme a été élaboré et planifié par la Fédération des femmes médecins
    du Canada afin de garantir l’intégrité, l’objectivité et l’équilibre
    scientifiques. Sanofi a fourni une subvention à l’enseignement sans
    restriction.
  </p>
  <img
    *ngIf="white"
    src=".\assets\imgs\FMWC logo_black_transparent.png"
    alt=" logo_black_transparent.png"
  />
  <img
    *ngIf="blue"
    id="blue"
    src=".\assets\imgs\FMWC-logo-EN-FR_white.png"
    alt=" logo_black_transparent.png"
  />
</div>
