<div class="foot" id="foot">
  <p>
    Crédits pour les spécialistes en médecine familiale : Ce programme
    d’apprentissage en groupe a été examiné par le Collège des médecins de
    famille du Canada et est en attente de la certification finale par la
    section provinciale du Collège. <br />
    <br />
    Ce programme a été élaboré et planifié par la Fédération des femmes médecins
    du Canada afin de garantir l’intégrité, l’objectivité et l’équilibre
    scientifiques. Sanofi a fourni une subvention à l’enseignement sans
    restriction.
  </p>
  <img
    *ngIf="white"
    src=".\assets\imgs\FMWC logo_black_transparent.png"
    alt=" logo_black_transparent.png"
  />
  <img
    *ngIf="blue"
    id="blue"
    src=".\assets\imgs\FMWC-logo-EN-FR_white.png"
    alt=" logo_black_transparent.png"
  />
</div>
