    <div class="foot" id="foot">
      <p>
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse nalismae consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accimesan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipis-cing elit, sed diam nonummy nibh euismod.
        <br>
        <br>
        This program was developed and planned by the FMWC to achieve scientific
        integrity, objectivity, and balance. Sanofi provided an unrestricted
        educational grant.
      </p>
      <img *ngIf="white"
        src=".\assets\imgs\FMWC logo_black_transparent.png"
        alt=" logo_black_transparent.png"
      />
       <img *ngIf="blue" id="blue"
        src=".\assets\imgs\FMWC-logo-EN-FR_white.png"
        alt=" logo_black_transparent.png"
      />
    </div>
